<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
        <!-- Application specific parameters -->
        <init-param>
            <param-name>environment</param-name>
            <param-value>dev</param-value>
        </init-param>
        <init-param>
            <param-name>dev.configfile.location</param-name>
            <param-value>/home/bitlooter/development/java/appynotebook/web/WEB-INF</param-value>
        </init-param>
        <init-param>
            <param-name>prod.configfile.location</param-name>
            <param-value>/home/ubuntu/bitlooter/appynotebook_app/config</param-value>
        </init-param>
        <init-param>
            <param-name>dev.stripe.public.key</param-name>
            <param-value>U5F28Rnz2s1bgsp12VtM8Z5Nza4Da0FB</param-value>
        </init-param>
        <init-param>
            <param-name>dev.stripe.secret.key</param-name>
            <param-value>pk_3RQNTdg3L1unc2jtAe7uAOopZc2AL</param-value>
        </init-param>
        <init-param>
            <param-name>prod.stripe.public.key</param-name>
            <param-value>WMZgXfEpE1A6l2xhHouUZyXstSgp1WSH</param-value>
        </init-param>
        <init-param>
            <param-name>prod.stripe.secret.key</param-name>
            <param-value>pk_FxTWGjhknyWF4TgQkJPN7r3aUQQfz</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>importer</servlet-name>
        <servlet-class>com.feezixlabs.util.importer</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>embed</servlet-name>
        <servlet-class>com.feezixlabs.util.embed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageImporter</servlet-name>
        <servlet-class>com.feezixlabs.util.imageImporter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jasymca</servlet-name>
        <servlet-class>com.feezixlabs.util.jasymca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>org.apache.activemq.brokerURL</param-name>
        <param-value>vm://localhost</param-value>
        <description>The URL of the Message Broker to connect to</description>
    </context-param>
    <context-param>
        <param-name>org.apache.activemq.embeddedBroker</param-name>
        <param-value>true</param-value>
        <description>Whether we should include an embedded broker or not</description>
    </context-param>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/amq/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/api/amq/*</url-pattern>
    </servlet-mapping>    
    <!--
    <servlet>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>com.feezixlabs.util.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>maxFileUploadSize</param-name>
            <param-value/>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>
    -->
    <!--
<listener>
    <listener-class>
      org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener>-->
    <filter>
        <filter-name>session</filter-name>
        <filter-class>org.apache.activemq.web.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>session</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>continuation</filter-name>
        <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>continuation</filter-name>
        <url-pattern>/cometd/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>importer</servlet-name>
        <url-pattern>/importer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>embed</servlet-name>
        <url-pattern>/embed/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageImporter</servlet-name>
        <url-pattern>/imageImporter/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jasymca</servlet-name>
        <url-pattern>/jasymca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>VROOM Security</web-resource-name>
            <url-pattern>/sc/*</url-pattern>
            <url-pattern>/amq/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>participant</role-name>
            <role-name>developer</role-name>
            <role-name>reviewer</role-name>
            <role-name>educator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <!--CONFIDENTIAL -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-role>
        <role-name>participant</role-name>
    </security-role>
    <security-role>
        <role-name>developer</role-name>
    </security-role>
    <security-role>
        <role-name>reviewer</role-name>
    </security-role>
    <security-role>
        <role-name>educator</role-name>
    </security-role>
    <security-role>
        <role-name>room_creator</role-name>
    </security-role>
    <security-role>
        <role-name>sysadmin</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <!--
        <realm-name>Form-Based Authentication Area</realm-name>
        -->
        <realm-name>APPYnotebook JDBC Realm</realm-name>
        <form-login-config>
            <form-login-page>/li</form-login-page>
            <form-error-page>/lierr</form-error-page>
        </form-login-config>
    </login-config>
    <resource-ref>
        <description>APPYnotebook DB Connection</description>
        <res-ref-name>jdbc/appynotebookDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
