/* 
    Document   : account-signup
    Created on : Apr 16, 2012, 3:43:30 PM
    Author     : bitlooter
    Description:
        Purpose of the stylesheet follows.
*/
@charset "utf-8";

/* reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body, input, select, textarea{line-height:1;font:16px/20px ff-tisa-web-pro-1, ff-tisa-web-pro-2, Georgia, "Times New Roman", serif;color:#333}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0;width:100%}header,footer,section,aside,nav,article{display:block!important}caption,th,td{text-align:left;font-weight:normal;}a img{border:none;margin:0;padding:0;}


/* page centering */

body { 
  position: relative; 
  text-align: center; 
  z-index: 0; 
}


/* typography */

h1, h2, h3, h4, h5, h6 { 
  color: #333; 
  font-family: myriad-pro-condensed-1, myriad-pro-condensed-2, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-weight: 700; 
}
h1 { 
  font-size: 24px; 
  line-height: 41px; 
  margin: 0 0 30px; 
}
h2 { 
  font-size: 20px; 
  line-height: 32px; 
  margin: 40px 0 20px; 
}
h3 { 
  font-size: 16px; 
  line-height: 24px; 
  margin: 0 0 10px; 
}
h4, h5, h6 { 
  font-size: 12px; 
  line-height: 22px; 
  margin: 0 0 10px; 
}

a { 
  color: #333; 
}
a:hover { 
  color: #666; 
}
table { 
  margin-bottom: 15px; 
}
p { 
  margin-bottom: 15px; 
}
pre { 
  margin: 15px 0; 
  white-space: pre; 
}
pre, code, tt { 
  font-family: 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; 
  line-height: 20px; 
}
hr {
  background: #b3b3b3;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
  clear: both;
  color: #b3b3b3;
  display: block; 
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}
blockquote {
  margin: 30px 0 30px 15px;
  border-left: 1px solid #ccc;
  color: #666;
  padding: 0 0 0 15px;
  font-style: italic;
}

/* tables */

table, td, th { 
  background: #fff;
  vertical-align: top; 
  border-bottom: 1px solid #aaa; 
  border-left: 1px solid #b3b3b3; 
}
td, th { 
  padding: 5px; 
  border-right: 1px solid #b3b3b3; 
  border-top: 1px solid #b3b3b3; 
}
thead, th { 
  background: url(/images/gradient.png) #ddd repeat-x bottom left;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: #444;
  font-family: myriad-pro-condensed-1, myriad-pro-condensed-2, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
table {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


textarea, input[type="text"], input[type="email"], input[type="submit"], input[type="password"] { 
  padding: 5px; 
  background: #fff url(/images/gradient-input.png) top left repeat-x; 
  border: 1px solid #b3b3b3; 
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
}
textarea:focus, 
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus { 
  background: #fff;
  border-color: #666;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}



fieldset { 
  border: 1px solid #b3b3b3; 
  padding: 15px; 
  border-radius: 4px; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  margin-bottom: 15px; 
}

form .text label, form .password label, form .select label, form .textarea label { 
  display: block; 
  margin-bottom: 5px; 
  font-family: myriad-pro-condensed-1, myriad-pro-condensed-2, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif; 
  font-weight: bold; 
}


 